@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background-color: #E9FBE8;
    /* background-color: #efc2c2;  */
    /* background-image: linear-gradient(to right,rgb(216, 216, 91), #FE0059); */
    margin: 30px;
}

h1{
    text-align: center;
    /* color: #a22222; */
    color: #3a8039;
    /* color: white; */
    font-size: 50px;
}

#input-patient-id{
    border-radius: 5px 0 0 5px;
    padding: 20px;
    border: none;
    width: 40%;
    font-size: large;
    margin-left: 15px;
}

#go-button{
    border-radius: 0 5px 5px 0;
    padding: 20px;
    border: none;
    cursor: pointer;
    width: 5%;
    background-color: #3a8039;;
    color: white;
    font-size: large;
    font-weight: bold;
}

#go-button:hover{
    background-color: black;
    color: white;
}

#output-recommendation{
    margin-top: 30px;
    /* padding: 20px; */
    background-color: white;
    border-radius: 5px;
}

#output-patient-details{
    width: max-content;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

th{
    background-color: #9ED2FF;
    padding: 5px 40px;
    border: 0.8px solid grey;
    text-align: center;
}

td{
    background-color: #F7EEA0;
    padding: 7.7px 40px;
    width: max-content;
    border: 0.8px solid grey;
    text-align: center;
}

#graph{
    margin-top: 30px;
    width: 100%;
}

#point_graph{
    display: flex;
    justify-content: center;
    align-items: center;
}

#line-graph{
    margin-top: 30px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 10px solid white;
    border-radius: 5px;
    margin-top: 30px;
}

.graphs {
    display: inline-block;
    width: 90%; /* Adjust the width as needed */
    margin: 10px; /* Add margin between the graphs */
}

.layout{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    float: top;
    margin: 0;
}

.container2{
    width: 45%;
    float: left;
}

.patient_details_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow-container {
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    overflow: hidden;
    border: 20px solid white;
    border-radius: 10px;
    width: 45%; /* Adjust the width as needed */
    float: left;
    margin: 0; /* Center the container */
    position: relative; /* Relative positioning for absolute positioning of prev and next buttons */
}

.slides {
    display: flex;
    justify-content: flex-start; /* Start from the left */
    align-items: center;
    flex-wrap: nowrap; /* Ensure slides stay in a single row */
    transition: transform 0.5s ease;
}


.prev, .next {
    position: absolute; /* Absolute positioning for navigation buttons */
    top: 50%; /* Position vertically at the middle */
    transform: translateY(-50%); /* Adjust to center vertically */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    cursor: pointer;
}

#histo_fig{
    width: 85%;
    align-items: center;
    justify-content: center;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

#search_bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}