body{
    background-color: #DFDFDF;
    margin: 30px;
}

h1{
    text-align: center;
}

#input-patient-id{
    border-radius: 3px;
    padding: 10px;
    border: none;
    width: 20%;
}

#go-button{
    border-radius: 3px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#go-button:hover{
    background-color: black;
    color: white;
}

#output-recommendation{
    margin-top: 30px;
    /* padding: 20px; */
    background-color: white;
    border-radius: 5px;
}

#output-patient-details{
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

th{
    background-color: #9ED2FF;
    width: 10%;
    border: 0.8px solid grey;
    text-align: left;
}

td{
    background-color: #F7EEA0;
    width: 10%;
    border: 0.8px solid grey;
    text-align: left;
}

#graph{
    margin-top: 30px;
}

#line-graph{
    margin-top: 30px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 10px solid white;
    border-radius: 5px;
    margin-top: 30px;
}

.container2{

}
.graphs {
    display: inline-block;
    width: 90%; /* Adjust the width as needed */
    margin: 10px; /* Add margin between the graphs */
}

.layout{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    float: top;
    margin: 0;
}

.container2{
    width: 45%;
    float: left;
}

.slideshow-container {
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    overflow: hidden;
    border: 20px solid white;
    border-radius: 5px;
    width: 45%; /* Adjust the width as needed */
    float: left;
    margin: 0; /* Center the container */
    position: relative; /* Relative positioning for absolute positioning of prev and next buttons */
}

.slides {
    display: flex;
    justify-content: flex-start; /* Start from the left */
    align-items: center;
    flex-wrap: nowrap; /* Ensure slides stay in a single row */
    transition: transform 0.5s ease;
}


.prev, .next {
    position: absolute; /* Absolute positioning for navigation buttons */
    top: 50%; /* Position vertically at the middle */
    transform: translateY(-50%); /* Adjust to center vertically */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    cursor: pointer;
}

#histo_fig{
    width: 100%;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

